{
  "ENV_GOOGLE_KEY": "your-google-key",
  "ENV_SPREADSHEET_ID": "your-spreadsheets-id",
  "ENV_SPREADSHEET_URL": "https://sheets.googleapis.com/v4/spreadsheets",
  "RENAME_THIS_FILE_TO": "env.json"
}
